<nav>
    <a class="navbar__logo" href="/">
        <img src="https://www.petpooja.com/assets/images/logo.svg" alt="image">
    </a>
    <div class="navbar__wrapper">
        <div class="dropdown-container">
            <a routerLink="/home" routerLinkActive="active">Home </a>
        </div>


        <label for="billingDropdown">Pricing</label>
        <div class="dropdown-container">
          <label for="outletTypesDropdown">Resource ^</label>
          <div class="arrow"></div>
          <select id="outletTypesDropdown" name="outletTypes">
              <option value="apple">Fine Dine</option>
              <option value="banana">QSR</option>
              <option value="orange">Cafe</option>
              <option value="orange">Food Card</option>
              <option value="orange">Cloud Kitchen</option>
              <option value="grape">Bakery</option>
          </select>
      </div>
      <div>
     <button> <a href="#"  class="btn__outline_secondary">Book A Demo</a></button>  
      </div>
    
    </div>
</nav>
